.keypad {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  :nth-child(11) {
    grid-column-start: 2 !important;
    grid-column-end: 4 !important;
  }
  .letter_item {
    grid-column: span 2;
    font-weight: bolder;
    background: #eee;
    color: black;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    @media (min-width: 768px) {
      font-size: 1em;
    }
    &.green {
      background: #5ac85a;
      color: #fff;
      transition: all 0.3s ease-in;
    }
    &.yellow {
      background: #e2cc68;
      color: #fff;
      transition: all 0.3s ease-in;
    }
    &.grey {
      background: #a1a1a1;
      color: #fff;
      transition: all 0.3s ease-in;
    }
  }
  .long_letter_item {
    grid-column: span 3;
  }
}
